body {
    background: url(images/4.jpg) no-repeat;
    background-size: 100%;
    font-family: monospace;
}


h1 {
	text-shadow: black 5px 1px 5px;
	font-size: 44px;
	text-align: center;
	color: orange;
	margin-top: 20px;	
}

input {
	border: solid 2px black;
	margin: 10px;
	padding-left: 110px;
	padding: 2px;
	margin-left: 50px;
	width: 160px;	
	height: 20px;
}

button {
	height: 30px;
 	margin: 10px;
	padding-left: 5px;
	padding: 2px;
	width: 170px;
	margin-left: 50px;
	background-color: orange;
	border: solid 2px black;
}
